---
import ProjectItem from './ProjectItem.astro';

const PROJECTS = [
  {
    title: "Tomansy",
    description:
      "Tomansy (Tournaments Manager System) es una aplicación web para la gestión de torneos deportivos. La aplicación permite la creación de torneos, la inscripción de jugadores y la gestión de los resultados de los torneos. El Backend fue desarrollado en .Net 8, con arquitectura microservicios y API Gateway.",
    image: "/src/assets/images/logo-tomansy.webp",
    link: "https://tomansy.netlify.app/",
    github: "https://github.com/Luis0714/TomansyFrontend",
    tags: ["Angular", ".Net 8", "Ocelot", "RabbitMQ"],
  },
  {
    title: "React Ecommerce",
    description:
      "Ecommerce desarrollado con React y Vite, utilizando TailwindCSS para los estilos. La aplicación consume una API REST pública de FakeStoreAPI. Aprendí a utilizar Vite, TailwindCSS y a consumir una API REST en React.",
    image: "/src/assets/images/logo-ecommerce.webp",
    link: "https://react-ecommerce-tomansy.netlify.app/",
    github: "https://github.com/Luis0714/ecommerce-react-vite",
    tags: ["React", "Vite", "TailwindCSS"],
  },
  {
    title: "Home Heal",
    description:
      "Home Heal es una aplicación web para la gestión de pacientes y citas médicas. La aplicación permite la creación de pacientes, la asignación de citas médicas y la gestión de los pacientes en tiempo real. El Backend fue desarrollado con FastApi y NodeJs, donde apliqué websockets para la comunicación en tiempo real.",
    image: "/src/assets/images/logo-home-heal.webp",
    link: "https://azure.website.homeheal.com/",
    github: "https://github.com/Luis0714/home_heal_frontend",
    tags: ["Angular", "FastApi", "NodeJs", "Websockets"],
  },
  {
    title: "Diabecare App",
    description: "Diabecare App es una aplicación multiplataforma para el control de la diabetes. La aplicación permite el registro de glucosa, insulina y alimentos consumidos. La aplicación fue desarrollada con IOnic, Firebase (incluyendo notificaciones push) y FastApi.",
    image: "/src/assets/images/logo-diabecare.webp",
    link: "https://diabecare.netlify.app/",
    github: "https://github.com/Luis0714/diabecareFrontend",
    tags: ["Ionic", "Firebase Notification Push", "Sql Server"],
  }
];
---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
